# Created by .ignore support plugin (hsz.mobi)
.idea
java-study.iml

# common
common/common.iml


# nio module
nio/nio.iml
nio/target

# lock module
lock/lock.iml
lock/target

# distributedlock
distributedlock/distributedlock.iml
distributedlock/target

# zookeeper
zookeeper/zookeeper.iml
zookeeper/target

# springboot
springboot/springboot.iml
springboot/target

# license
license/license.iml
license/target

# tableshard
tableshard/tableshard.iml
tableshard/target

# logback
logback/logback.iml
logback/target

# kafka
kafka/kafka.iml
kafka/target

# email-spring-boot-autoconfigure
email-spring-boot-autoconfigure/email-spring-boot-autoconfigure.iml
email-spring-boot-autoconfigure/target

# email-spring-boot-starter
email-spring-boot-starter/email-spring-boot-starter.iml
email-spring-boot-starter/target

# email
email/email.iml
email/target

# redis
redis/redis.iml
redis/target

# security
security/security.iml
security/target


# excel
excel/excel.iml
excel/target
