<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuacy.securityoauth.mapper.UserManageMapper">
    <!--
        CREATE TABLE `user_info` (
        `id` bigint(20) NOT NULL,
        `name` varchar(255) DEFAULT NULL,
        `password` varchar(255) DEFAULT NULL
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    -->

    <!--
        CREATE TABLE `role` (
        `id` bigint(20) NOT NULL AUTO_INCREMENT,
        `name` varchar(255) NOT NULL,
        PRIMARY KEY (`id`)
        );
    -->

    <!--
        CREATE TABLE `user_role` (
        `id` bigint(20) NOT NULL AUTO_INCREMENT,
        `user_id` bigint(20) NOT NULL,
        `role_id` bigint(20) NOT NULL,
        PRIMARY KEY (`id`)
        );
    -->

    <!--
        CREATE TABLE `role_permission` (
        `id` bigint(20) NOT NULL AUTO_INCREMENT,
        `role_id` bigint(20) NOT NULL,
        `permission_id` bigint(11) NOT NULL,
        PRIMARY KEY (`id`)
        );
    -->

    <!--
        CREATE TABLE `permission` (
        `id` bigint(20) NOT NULL AUTO_INCREMENT,
        `url` varchar(255) NOT NULL,
        `name` varchar(255) NOT NULL,
        `description` varchar(255) NULL,
        `pid` bigint(11) NOT NULL,
        PRIMARY KEY (`id`)
        );
    -->

    <!-- 根据用户名获取用户信息 -->
    <select id="loadUserByUsername" resultType="com.tuacy.securityoauth.entity.model.UserInfoPo">
        SELECT
            `id` as userId,
            `username` as userName,
            `password` as password
        FROM
            `user` ui
        WHERE  `username` = #{userName}
    </select>
</mapper>
